

.animation {
	background-image:url(image/sheet.jpg);
	height:135px;
	animation-fill-mode:both;
	width:66px;
	animation:speed 3s;
	margin:150px;
}
@keyframes speed{
	0% { 
	background-position:462px;
	}
	17% {
	background-position:396px;
	}
	34% {
	background-position:330px;
	}
	51% {
	background-position:264px;
	}
	68% {
	background-position:198px;
	}
	85% {
	background-position:132px ;
	}
	100% {
	background-position:66px;
	}
}