
.container {
	width:462px;
	height:135px;
	margin:150px;
}
.animation {
	background-image:url(image/sheet.jpg);
	height:135px;
	width:66px;
	animation:speed .3s 1s;
}
@keyframes speed{
	0% { 
	background-position:0% 50%;
	}
	17% {
	background-position:17% 50%;
	transform:translate(132px,0px);
	}
	34% {
	background-position:34% 50%;
	transform:translate(198px,0px);
	}
	51% {
	background-position:51% 50%;
	transform:translate(264px,0px);
	}
	68% {
	background-position:68% 50%;
	transform:translate(330px,0px);
	}
	85% {
	background-position: 85% 50% ;
	transform:translate(396px,0px);
	}
	100% {
	background-position:100% 50%;
	transform: translate(462px,0px);
	}
}