
body {
	margin:0;
}
.header {
	display:flex;
	flex-flow:column wrap;
	justify-content:center;
	align-content:space-around;
	height:45px;
	background-color:#5082B9;
}
.header__logo {
}
.header__logo-badge {
	height:38px;
	width:43px;
}
.header__image {
	display:flex;
	flex-flow:column wrap;
	justify-content:center;
	align-content:flex-end;
}
.imagephoto {
	width:35px;
	height:35px;
	border-radius:50px;
}
.header__find {
	display:flex;
	flex-flow:column wrap;
	justify-content:center;
	align-content:space-between;
}
input:focus {
	background-image:url(image/f1.png);
	background-position:3% 50%;
	background-repeat:no-repeat;
	background-size:13px;
	background-color:#ffffff;
}
input::placeholder {
	color:#5082B9;
	padding-left:40px;
}
.header__badge {
	height:27px;
	width:27px;
}
.find_input {
	background-image:url(image/f.png);
	background-position:1% 50%;
	background-repeat:no-repeat;
	background-size:23px;
	border:1px solid #5082B9;
	border-radius:20px;
	width:250px;
	height:25px;
	background-color:#224B79;
}
.find_input:focus::placeholder {
	opacity:0;
}
.content{
	padding-bottom:10px;
	width:100%;
	display:flex;
	flex-flow:row nowrap;
	padding-top:5px;
	background-color:#EDEEF0;
}
.content__me {
	width:25%;
}
.content__me_content {
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-end;
}
.acolor {
	color:#CDCED2;
}
.content__me_list {
	width:150px;
	height:30px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.content__me_listlast {
	display:flex;
	flex-flow:column nowrap;
}
.content__me_list-bottom {
	border-bottom:1px solid #D7D9DF;
}.imgconfirst {
	width:19px;
	height:19px;
}
.image {
	color:#fff;
	font-family:Arial,sans-serif;
	margin:15px 0px 20px 50px;
}
.content__me .content__me_content div {
	white-space:nowrap;
	color:#4A76A8;
}
.content__thing {
	display:flex;
	flex-flow:column nowrap;
	align-content:flex-start;
	width:25%;
	margin-left:10px;
}
.content__thing_block {
	width:205px;
	height:360px;
	background-color:#fff;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.content__thing_block_element0 {
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	width:205px;
	height:39px;
	border-left:1px solid #6887B5;
	background-color:#F1F2F6;
}
.content__thing_block_element {
	border-bottom:1px solid #E3E4E8;
}.content__thing_blockthree {
	margin-top:40px;
	/*margin-left:auto;*/
	height:90px;
	width:50px;
	background-color:#DAE1E8;
}.content__thing_blocktwo {
	margin-top:20px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	width:205px;
	height:40px;
	background-color:#fff;
}.content__thing_block_element1 {
	width:205px;
	height:39px;
}
.thing {
	margin:16px 0 0 23px;
}
.thingtext {
	color:#6888A8;
}
.thingtext01 {
	color:#6888A8;
	padding-bottom:10px;
}
.blockthree-image {
	padding:5px;
	max-width:81%;
	height:45px;
	border-radius:50%;
}
.blockthree-block {
	width:45px;
	height:45px;
	background-image:url(image/phot.png);
	background-position:90% 10%;
	background-repeat:no-repeat;
	background-size:15px;
}
.thingtext0 {
	color:#CDCED2;
	padding-left:10px;
}
.blockthree-text {
	margin:7px 0px 0px 10px;
	font-size:16px;
	color:#8592A2;
}
.imageblock0 {
	height:25px;
	width:25px;
}
.imageblock {
	height:15px;
	width:15px;
}
.content__thing_block div:hover {
	background-color:#F1F2F6;
}
.content__news {
	width:50%;
}
.content__news_postone {
	display:block;
	background-color:#fff;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.content__news_firstblock {
	display:flex;
	flex-flow:row nowrap;
	align-content:center;
}
.badgeoff {
	align-self:flex-start;
	width:16px;
	height:13px;
}
.content__news_firstblock-text {
	display:flex;
	flex-flow:column wrap;
}.threetext {
	text-align:center;
}
.content__news_posttwo  {
	padding:5px;
	background-color:#fff;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.thingtext1 {
	width:125px;
	margin:15px 25px;
	color:#000000;
	font-family:Arial,sans-serif;
	font-weight:bolder;
}
.fourimage {
	max-width:100%;
}
a {
	color:#647296;
	text-decoration: none;
}
.imageadukar {
	float:left;
	height:55px;
	width:55px;
	border-radius:35px;
}
.firsttext {
	text-align:left;
	float:left;
	height:28px;
	width:415px;
	padding:10px 15px 0px 15px;
	color:#647296;
}
.twotext {
	float:left;
	font-size:15px;
	color:#B9B9B9;
	padding:0px 15px;
	margin:-9px 0px;
}
.inpchec {
	display:none;
}
.inputlabel:before {
	content:'';
	display:block;
	width:30px;
	height:14px;
	background-color:#CED7E0;
	margin:14px -6px -16px 147px;
	border-radius:15px;
}
.inputlabel:after {
	content:'';
	display:block;
	width:14px;
	height:15px;
	background-color:#ffffff;
	border:1px solid #CED7E0;
	margin:-16px 0px 0px 142px;
	border-radius:50%;
}
.inpchec:checked + .inputlabel:before {
	background-color:#BCCDE0;
}
.inpchec:checked + .inputlabel:after {
	background-color:#5181B8;
	margin:-16px 0px 0px 162px;
	border:1px solid #5181B8;
}