
body {
	margin:0;
}
.header {
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-content:center;
	height:45px;
	background-color:#5082B9;
}
.header__logo {
	width:25%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	align-items:center;
}
.header__logo-badge {
	height:38px;
	width:43px;}
.header__image-block {
	width:205px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	align-items:center;
}
.header__image {
	width:25%;
}
.imagephoto {
	margin-bottom:8px;
	margin-right:8px;
	margin-left:8px;
	width:30px;
	height:30px;
	border-radius:50px;
}
.header__find {
	width:50%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-start;
	align-items:center;
}
input:focus {
	background-image:url(image/f1.png);
	background-position:3% 50%;
	background-repeat:no-repeat;
	background-size:13px;
	background-color:#ffffff;
}
input::placeholder {
	color:#5082B9;
	padding-left:40px;
}
.header__badge {
	height:19px;
	width:19px;
	margin:0 3px;
}
figure {
	display:block;
	padding:0;
	margin:0;
	width:150px;
}
.header__badgefirst {
	margin:0 21px;
}
.header__badgesecond {
	width:18px;
	height:21px;
	margin-right:7px;
} 
.find_input {
	background-image:url(image/f.png);
	background-position:1% 50%;
	background-repeat:no-repeat;
	background-size:23px;
	border:1px solid #5082B9;
	border-radius:20px;
	width:250px;
	height:25px;
	background-color:#224B79;
}
.find_input:focus::placeholder {
	opacity:0;
}
.content{
	padding-bottom:10px;
	width:100%;
	display:flex;
	flex-flow:row nowrap;
	padding-top:5px;
	background-color:#EDEEF0;
}
.content__me {:;
	width:25%;
}
.content__me_content {
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-end;
}
.acolor {
	color:#CDCED2;
}
.content__me_list {
	width:150px;
	height:30px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.badgeminus {
	width:10px;
	height:5px;
	margin-bottom:5px;
}
.header__imagehref {
	color:#9BB3CF;
}
.content__me_listlast {
	display:flex;
	flex-flow:column nowrap;
}
.content__me_list-bottom {
	border-bottom:1px solid #D7D9DF;
}.imgconfirst {
	width:19px;
	height:19px;
}
.image {
	color:#fff;
	font-family:Arial,sans-serif;
	margin:15px 0px 20px 50px;
}
.content-text {
	padding-left:4px;
}
.content__me .content__me_content div {
	white-space:nowrap;
	color:#4A76A8;
}
.content__thing {
	display:flex;
	flex-flow:column nowrap;
	align-content:flex-start;
	width:25%;
	margin-left:10px;
}
.content__thing_block {
	width:205px;
	height:360px;
	background-color:#fff;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.content__thing_block_element0 {
	margin-top:3px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
	width:205px;
	height:39px;
	border-left:1.8px solid #6887B5;
	background-color:#F1F2F6;
}
.content__thing_block_element {
	margin-left:8px;
	width:91.8%;
	border-bottom:1px solid #E3E4E8;
}.content__thing_blockthree {
	margin-top:40px;
	height:90px;
	width:95%;
	position:relative;
}.content__thing_blocktwo {
	position:relative;
	margin-top:20px;
	width:205px;
	height:40px;
	background-color:#fff;
}.content__thing_block_element1 {
	width:205px;
	height:39px;
}
.blockthing {
	width:50px;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-around;
}
.thing {
	margin:16px 0 0 23px;
}
.thingtext {
	color:#6888A8;
}
.thingtext01 {
	color:#6888A8;
	padding-bottom:10px;
}
.blockthree-image {
	padding:6px;
	max-height:80%;
	max-width:80%;
	height:45px;
	border-radius:50%;
}
.blockthree-block {
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	height:31px;
	width:50px;
}
.block__threepicture {
	width:13px;
	height:19px;
}
.thingtext0 {
	color:#65656F;
	padding-left:10px;
}
.blockthree-text {
	font-size:16px;
	height:19px;
	color:#8592A2;
}
.content-thingblock {
	width:50px;
	height:100%;
	right:0;
	background-color:#DAE1E8;
	position:absolute;
}
.imageblock0 {
	height:25px;
	width:25px;
}
.imageblock {
	height:15px;
	width:15px;
}
.content__thing_block div:hover {
	background-color:#F1F2F6;
}
.content__news {
	width:50%;
}
.content__news_postone {
	display:block;
	background-color:#fff;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.postonecom {
	margin-top:10px;
	height:40px;
	border-top:1px solid #E7E8EC;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.postoneimage {
	width:25px;
	height:25px;
	margin-right:10px;
}
.content__news_firstblock {
	display:flex;
	flex-flow:row nowrap;
	align-content:center;
}
.badgeoff {
	margin-left:auto;
	width:13px;
	height:8px;
}
.content__news-badge {
	display:flex;
	flex-flow:row nowrap;
	width:100px;
	justify-content:flex-end;
}
.content__news_firstblock-text {
	display:flex;
	flex-flow:column wrap;
}
.blockadd {
	height:17px;
	background-color:#EDEEF0;
}
.threetext {
	text-align:center;
}
.content__news_posttwo  {
	padding:5px;
	background-color:#fff;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.thingtext1 {
	width:125px;
	margin:15px 25px;
	color:#000000;
	font-family:Arial,sans-serif;
	font-weight:bolder;
}
.fourimage {
	max-width:100%;
}
.hrefc {
	color:#647296;
	text-decoration: none;
}
.imageadukar {
	float:left;
	height:55px;
	width:55px;
	border-radius:35px;
}
.firsttext {
	text-align:left;
	float:left;
	height:28px;
	width:415px;
	padding:10px 15px 0px 15px;
	color:#647296;
}
.twotext {
	float:left;
	font-size:15px;
	color:#B9B9B9;
	padding:0px 15px;
	margin:-9px 0px;
}
.inpchec {
	display:none;
}
.inputlabel {
	width:205px;
	height:40px;
	display:flex;
	flex-flow:row nowrap;
	align-items:center;
}
.inputlabel:before {
	position:absolute;
	right:5px;
	top:13px;
	content:'';
	display:block;
	width:30px;
	height:14px;
	background-color:#CED7E0;
	border-radius:15px;
}
.inputlabel:after {
	top:12.3px;
	position:absolute;
	right:18.8px;
	content:'';
	display:block;
	width:14px;
	height:15px;
	background-color:#ffffff;
	border:1px solid #CED7E0;
	border-radius:50%;
}
.inpchec:checked + .inputlabel:before {
	background-color:#BCCDE0;
}
.inpchec:checked + .inputlabel:after {
	position:absolute;
	right:5px;
	background-color:#5181B8;
	border:1px solid #5181B8;
}