body {
	height:1460px;
	width:1261px;
	margin:0px;
}
.header__logo-badge {
	height:38px;
	width:43px;
	margin:3px 0px 0px 160px;
}
input:focus {
	background-image:url(image/f1.png);
	background-position:3% 50%;
	background-repeat:no-repeat;
	background-size:13px;
	background-color:#ffffff;
}
input::placeholder {
	color:#5082B9;
	padding:0px 40px;
}
.find_input {
	background-image:url(image/f.png);
	background-position:1% 50%;
	background-repeat:no-repeat;
	background-size:23px;
	border:1px solid #5082B9;
	border-radius:20px;
	margin:7px 0px 0px 0px;
	width:250px;
	height:25px;
	background-color:#224B79;
}
.header__logo {
	height:45px;
	width:300.5px;
}
.imagephoto {
	width:35px;
	height:35px;
	border-radius:50px;
	margin:6px 0px 1px 10px;
}
.image {
	color:#fff;
	font-family:Arial,sans-serif;
	margin:15px 0px 20px 50px;
}
.header__image {
	background-image:url(image/snizu.png);
	background-size:10px;
	background-repeat:no-repeat;
	background-position:57% 50%;
	display:flex;
	flex-direction:row;
	width:300.5px;
	height:45px;
}
.header {
	display:flex;
	flex-direction:row;
	height:45px;
	width:1261px;
	background-color:#5082B9;
}
.content{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	width:1261px;
	height:1415px; 
	background-color:#EDEEF0;
}
.header__find {
	background-position: 60% 50%,70% 50%,77% 50%;
	background-repeat:no-repeat, no-repeat,no-repeat;
	height:45px;
	width:560px;
	background-image:url(image/pov.png),url(image/mus1.png),url(image/mo.png);
	background-size:17px,27px,25px;
}
.content__me {
	width:300.5px;
	flex-basis:100%;
}
.content__me .content__me_content div {
	white-space:nowrap;
	color:#4A76A8;
	margin:6px 0px 0px 150px;
}
.content__me_content {
	margin:15px 0px 0px 0px;
}
.imgconfirst {
	width:20px;
	height:20px;
}
h5 {
	color:#CDCED2;
}
.content__me_news {
	margin:10px 0px 0px 0px;
	width:560px;
	flex-basis:100%;
	height:1000px;
}
.clearfix::after {
 	content: "";
  	clear: both;
 	display: table;
}
.content__me_thing_block_element0 {
	display:flex;
	width:205px;
	height:39px;
	border-left:1px solid #6887B5;
	background-color:#F1F2F6;
	margin:7px 0px 0px 0px;
	}
.content__me_thing {
	flex-basis:100%;
	height:1000px;
	width:400.5px; 
}
.thingtext {
	font-family:Arial,sans-serif;
	color:#6888A8;
	margin:11px 25px;
}
.content__me_thing_block_element {
	margin: 0px 0px 0px 15px; 
	width:175px;
	border-bottom:1px solid #E3E4E8;
}
.thingtext01 {
	font-family:Arial,sans-serif;
	color:#6888A8;
	margin:11px 10px;
}
.content__me_thing_block {
	width:205px;
	height:360px;
	background-color:#fff;
	margin:10px 0px 0px 45px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
}
.thing0 {
	font-size:13px;
	margin:11.7px 0px 0px 0px;
	font-family:Arial,sans-serif;
}
.content__me_thing_blockthree {
	height:90px;
	width:60px;
	background-color:#DAE1E8;
	margin:49px 0px 0px 337px;
}
.blockthree-image {
	width:45px;
	height:45px;
	border-radius:100px;
	margin:5px 0px 0px 8px;
}
.blockthree-block {
	width:45px;
	height:45px;
	background-image:url(image/phot.png);
	background-position:95% 30%;
	background-repeat:no-repeat;
	background-size:15px;
	display:flex;
	flex-direction:column;
}
.blockthree-text {
	margin:7px 0px 0px 10px;
	font-size:16px;
	color:#8592A2;
}
.imageblock0 {
	height:25px;
	width:25px;
	margin:7px 0px 0px 5px;
} 
.content__me_thing_blocktwo {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	margin:17px 0px 0px 45px;
	width:205px;
	height:40px;
	background-color:#fff;
}
.imageblock {
	margin:13px 10px 0px 7px;
	height:20px;
	width:20px;
}
.content__me_thing_block div:hover {
	background-color:#F1F2F6;
}
.thingtext0 {
	color:#8E8E8F;
	margin:15px 35px;
	font-family:Arial,sans-serif;
}
.content__me_news_postone {
	background-image:url(image/vniz.png);
	background-size:15px;
	background-repeat:no-repeat;
	background-position:95% 6%;
	padding:13px 13px;
	width:100%;
	height:667px;
	margin:0px 5px;
	background-color:#fff;
}
.thingtext1 {
	width:125px;
	margin:15px 25px;
	color:#000000;
	font-family:Arial,sans-serif;
	font-weight:bolder;
}
.content__me_news_posttwo  {
	margin:8px 5px;
	width:100%;
	background-image:url(image/vniz.png);
	background-size:15px;
	background-repeat:no-repeat;
	background-position:95% 6%;
	padding:13px 13px;
	background-color:#fff;
	height:667px;
}
.content__me_thing_block_element1 {
	width:205px;
	height:39px;
}
a {
	color:#647296;
	text-decoration: none;
}
.imageadukar {
	float:left;
	height:55px;
	width:55px;
	border-radius:35px;
}
.firsttext {
	text-align:left;
	float:left;
	height:28px;
	width:415px;
	padding:10px 15px 0px 15px;
	color:#647296;
}
.fourimage {
	float:left;
	width:100%;
	height:450px;
	margin:-120px 0px;
}
.twotext {
	float:left;
	font-size:15px;
	color:#B9B9B9;
	padding:0px 15px;
	margin:-9px 0px;
}
.threetext {
	float:right;
	height:40%;
	padding:15px 10px 0 10px;
}

