.header {
	height:50px;
	display:flex;
}
.header__link {
	border-left:1px solid #000000;
	width:200px;
	height:40px;
	padding:0px 5px;
}
a {
	color:#000;
	text-decoration:none;
}
.header__link:hover {
	background:#ABB1BA;
}
.footer {
	width:1260px;
	background-image:url(image/vkontakte.png),url(image/instagram-new.png),url(image/facebook.png)
	,url(image/telegram-app.png),url(image/youtube.png),url(image/rss.png)
	,url(image/slack.png),url(image/twitter.png);
	background-size:24px,24px,24px,24px,24px,24px,24px,24px;
	background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,
	no-repeat,no-repeat,no-repeat;
	background-color:#F2F2F2;
	background-position:47% 0%,47% 100%,52% 0%,52% 100%,57% 0%,57% 100%,
	62% 0%,62% 100%;
}
.first {
	padding:0px 350px;
	text-align:left;
	font-size:13px;
}
.content {
	width:1260px;
	height:480px;
	color:#fff;
	display:block;
}
.content__first {
	width:25%;
	height:100%;
	float:right;
	border:1px solid #000000;
}
.content__second {
	width:49.5%;
	height:100%;
	float:right;
	border:1px solid #000000;
}
.content__third {
	width:25%;
	height:100%;
	float:left;
	border:1px solid #000000;
}
.content__first_first {
	background-image:url(image/volleyball.jpg);
	width:100%;
	height:25%;
	border:1px solid #000;
}
.content__first_second {
	background-image:url(image/baseball.jpg);
	width:100%;
	background-position:top;
	height:23.5%;
	border:1px solid #000;
}
.content__first div:hover {
	transform:scale(0.99,0.99);
}
h1 {
	position:relative;
	top:15px;
	font-family:Arial,sans-serif;
	text-align:center;
}
.content__first_third {
	background-image:url(image/boxing.jpg);
	width:100%;
	background-position:15% 25%;
	height:25%;
	border:1px solid #000;
}
.content__first_fourth {
	background-image:url(image/basketball.jpg);
	width:100%;
	background-position:center;
	height:25%;
	border:1px solid #000;
}
h2 {
	font-family:Arial,sans-serif;
	text-align:center;
}
.content__second_first {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/foot.jpg);
}
.content__second_second {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/welb.jpg);
	background-size:625px;
}
.content__second_third {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/kora.jpg);
	background-size:500px;
}
.content__second_fourth {
	height:20%;
	border:1px solid #000;
	background-image:url(image/pova.jpg);
}
.content__second_fifth {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/toth.jpeg);
	background-size:650px;
}
.content__second div:hover{
	transform:scale(0.999,0.99);
}
.content__third_first {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/foot.jpg);
}
.content__third_second {
	height:19.5%;
	border:1px solid #000;
}
.content__third_third {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/kora.jpg);
}
.content__third_fourth {
	height:20%;
	border:1px solid #000;
}
.content__third_fifth {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/toth.jpeg);
}
@media screen and (max-width:500px) {
	.header {
	width:500px;
	height:80px;
	display:flex;
	width:500px;
}
.header__link {
	border-left:1px solid #000000;
	width:50px;
	height:40px;
	padding:0px 5px;
	margin:0px 0px 0px 30px;
}
a {
	color:#000;
	text-decoration:none;
}
.header__link:hover {
	background:#ABB1BA;
	}
.header__image {
	width:130px;
	height:80px;
}
.footer {
	width:500px;
	height:60px;
	background-image:url(image/vkontakte.png),url(image/instagram-new.png),url(image/facebook.png)
	,url(image/telegram-app.png),url(image/youtube.png),url(image/rss.png)
	,url(image/slack.png),url(image/twitter.png);
	background-size:24px,24px,24px,24px,24px,24px,24px,24px;
	background-repeat:no-repeat,no-repeat,no-repeat,no-repeat,no-repeat,
	no-repeat,no-repeat,no-repeat;
	background-color:#F2F2F2;
	background-position:47% 0%,47% 100%,52% 0%,52% 100%,57% 0%,57% 100%,
	62% 0%,62% 100%;
}
.first {
	padding:0px 30px 0px 0px;
	text-align:left;
	font-size:13px;
}
.content {
	width:500px;
	height:1350px;
	color:#fff;
	display:block;
}
.content__first {
	width:500px;
	height:400px;
	border:1px solid #000000;
}
.content__second {
	width:250px;
	height:950px;
	float:right;
	border:1px solid #000000;
}
.content__third {
	width:246px;
	height:950px;
	float:left;
	border:1px solid #000000;
}
.content__first_first {
	background-image:url(image/volleyball.jpg);
	width:100%;
	height:25%;
	border:1px solid #000;
}
.content__first_second {
	background-image:url(image/baseball.jpg);
	width:100%;
	background-position:top;
	height:25%;
	border:1px solid #000;
}
.content__first div:hover {
	transform:scale(0.99,0.99);
}
h1 {
	position:relative;
	top:15px;
	font-family:Arial,sans-serif;
}
.content__first_third {
	background-image:url(image/boxing.jpg);
	width:100%;
	background-position:15% 25%;
	height:25%;
	border:1px solid #000;
}
.content__first_fourth {
	background-image:url(image/basketball.jpg);
	width:100%;
	background-position:center;
	height:25%;
	border:1px solid #000;
}
h2 {
	font-family:Arial,sans-serif;
}
.content__second_first {
	height:19.9%;
	border:1px solid #000;
	background-image:url(image/foot.jpg);
}
.content__second_second {
	height:19.6%;
	border:1px solid #000;
	background-image:url(image/welb.jpg);
	background-size:625px;
}
.content__second_third {
	height:19.9%;
	border:1px solid #000;
	background-image:url(image/kora.jpg);
	background-size:500px;
}
.content__second_fourth {
	height:20%;
	border:1px solid #000;
	background-image:url(image/pova.jpg);
}
.content__second_fifth {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/toth.jpeg);
	background-size:650px;
}
.content__second div:hover{
	transform:scale(0.999,0.99);
}
.content__third_first {
	height:19.9%;
	border:1px solid #000;
	background-image:url(image/foot.jpg);
}
.content__third_second {
	height:19.6%;
	border:1px solid #000;
}
.content__third_third {
	height:19.9%;
	border:1px solid #000;
	background-image:url(image/kora.jpg);
}
.content__third_fourth {
	height:20%;
	border:1px solid #000;
}
.content__third_fifth {
	height:19.5%;
	border:1px solid #000;
	background-image:url(image/toth.jpeg);
}
}
