.__first {
	margin:0px 0px 0px 550px;
	  span {
  	margin:0px 0px 0px -270px;
  }
}
a {
	margin:0px 0px 0px 530px;
	text-decoration:none;
	color:#000000;
	cursor:pointer;
}
.main {
	margin:0px 0px 0px 510px;
	.first {
		margin:0px 0px 0px 5px;
	}
	.second {
		margin:0px 0px 0px 60px;
	}
	img {
		width:300px;
		height:600px;
	}
	.third {
		margin:0px 0px 0px -70px;
	}
	.fourth {
		margin:0px 0px 0px -150px;
	}
	.fifth {
		margin:0px 0px 0px 60px;
	}
}
.footer {
	margin:10px 0px 0px 530px;
}